<nav class="bg-white shadow-lg fixed top-0 w-full z-50">
    <div class="container mx-auto px-4 py-3">
        <div class="flex justify-between items-center">
            <a href="/" class="flex items-center space-x-2">
                <svg class="w-6 h-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                </svg>
            </a>
            <div class="flex items-center space-x-2">
                 <% if (user) { %>
                    <span class="text-sm text-gray-600">Connected As - </span>
                    <span class="font-semibold text-green-700"><a href="/dashboard"><%= user.username %></a></span>
                    <% } else { %>
                    <a href="/auth/login" class="px-4 py-2 text-green-600 hover:text-green-800">Login</a>
                    <a href="/auth/register" class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700">Register</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

