 <!-- Mobile Sidebar -->
    <div class="mobile-sidebar">
      <a href="index.html" class="logo">
            <img src="/img/logo.PNG" alt="">
            
        </a>
        
        <div class="mobile-nav-links">
            <a href="/" class="mobile-nav-link active">Home</a>
           
            <a href="/auth/login" class="mobile-nav-link">Login</a>
            <a href="/auth/register" class="mobile-nav-link">Register</a>
        </div>
    </div>
    
    <div class="mobile-sidebar-overlay"></div>