  <div class="container-fluid vh-100">
    <div class="row h-100">

      <!-- Left Column -->
      <div class="col-md-6 d-flex align-items-center justify-content-center bg-white shadow">
        <div class="w-100 px-4" style="max-width: 450px;">
          <div class="text-center mb-4">
            <a href="/"><img src="/images/logo.png" alt="Logo" class="img-fluid mb-3" style="max-height: 60px;" /></a>
            <!-- use a check image -->
             <img src="./images/cheked.png" alt="">
           <h1>404: not found</h1>
          </div>


          <div class="d-grid mt-4 mb-3">
            <a href="/" class="btn btn-success">Go Home</a>
          </div>

          
        </div>
      </div>

      <!-- Right Column (Quote) -->
      <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-grad text-white p-5">
        <div class="text-center">
          <blockquote class="blockquote">
            <p>"Success is not final, failure is not fatal: It is the courage to continue that counts."</p>
          </blockquote>
          <footer class="blockquote-footer text-white-50 mt-3">— Winston Churchill</footer>
        </div>
      </div>

    </div>
  </div>