
    
   
   <!-- Hero Section -->
   <section class="container">
       <div class="hero">
            <a href="/"><img src="/img/logo-2.PNG" alt=""></a>
            <h1>Say what you <span class="underline">can't say</span> anywhere else</h1>
            <p class="hero-subtext">Unsaid is 100% anonymous. Once it's read, it disappears. No traces, no records, just raw truth.</p>
            <a href="/chat" class="cta-button">Drop it on Unsaid</a>
            <br>
            <br>
            <br>
            <p class="hero-subtext">No names. no history. no screenshots.</p>
        </div>
    </section>

